@model IEnumerable<Ado.netmvcAssignment.Models.FootballLeague>
@{
    ViewBag.Title = "Index";
}

<h2>AddResult</h2>
@Html.ActionLink("AddMatchResult", "AddMatchResult")
@foreach (var a in Model)
{
    <p> MatchId:@a.MatchId</p>
    <p> TeamName1:@a.TeamName1</p>
    <p> TeamName2:@a.TeamName2</p>
    <p> Status:@a.Status</p>
    <p> Points:@a.Points</p>
    <p> WinningTeam:@a.WinningTeam</p>
}



